.about-page {
  &__map {
    margin: 5rem 0
  }
}

.about-page {
  .gallery {
    margin 3.5rem -11px 0 -11px
  }
}

@media (max-width: 800px) {
  .about-page {
    .gallery {
      flex-wrap nowrap
      justify-content flex-start
      overflow-x: scroll;
    }
  }
}