.feature-list {
  display: flex;
  flex-wrap wrap
  justify-content center

  .feature {
    margin: 3% 3% 0 0
    width: 48.5%

    &:nth-child(2n) {
      margin: 3% 0 0 0
    }
  }
}

.feature {
  display: flex;
  align-items center
  min-height: 85px;
  padding: 15px 30px
  box-shadow: 0 10px 24px rgba(37, 37, 37, 0.06);
  border-radius: 5px;
  background-color: #ffffff;


  color: #505050;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;

  &__text {
    margin-left 24px
  }

  &__icon {
    background-position: center
    background-repeat: no-repeat
  }
}

@media (max-width: 800px) {
  .feature-list {
    .feature {
      margin: 20px 0 0 0
      width: 100%
      max-width 540px

      &:nth-child(2n) {
        margin: 20px 0 0 0
      }
    }
  }
}

@media (max-width: 500px) {
  .feature {
    min-height: 80px;
    padding 12px
    font-size: 18px

    &__text {
      margin-left: 16px
    }

    &__icon {
      transform scale(0.78)
    }
  }
}