.icon {
  display: inline-block
  background-repeat: no-repeat

  &_email {
    min-width: 22px;
    min-height: 18px;
    background-image: url("../img/icon-email.png")
  }

  &_phone {
    min-width: 20px;
    min-height: 23px;
    background-image: url("../img/icon-phone.png")
  }

  &_placemark {
    min-width: 20px;
    min-height: 25px;
    background-image: url("../img/icon-placemark.png")
    background-size: cover
  }

  &_user {
    min-width: 19px;
    min-height: 24px;
    background-image: url("../img/icon-user.png")
    background-size: cover
  }

  &_arrow {
    min-width: 12px;
    min-height: 12px;
    background-image: url("../img/icon-arrow.svg")
    background-size: cover;
    //background-color: #fff
  }

  &_catalog {
    min-width: 52px;
    min-height: 32px;
    background-image: url("../img/icon-catalog.png")
  }

  &_circle {
    width: 5px;
    height: 5px;
    background-color: #0c3791;
    border-radius 50%
  }

  &_plus {
    &:before {
      content '+'
      width: 18px;
      height: 19px;
      color: #46a128;
      font-size: 36px;
      font-weight: 500;
      font-style normal
    }
  }

  &_minus {
    &:before {
      content '-'
      width: 18px;
      height: 19px;
      color: #46a128;
      font-size: 45px;
      font-weight: 500;
      font-style normal
    }
  }
}