.logo {
  display: flex;
  align-items center
  &__img {
    margin-right: 18px;
    max-width: 77px
  }

  &__text {
    color: #103a9b;
    font-size: 31px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2.33px;
    white-space: nowrap;
  }
}