extends pug-components/layout

block append title
    -page = 'О компании'

block content
    .about-page
        .article
            img.about-page__bg.article-desktop(style="float:right;padding: 0 0 10px 10px" src="img/bg-side-2.jpg")
            .container
                .crumbs
                    a(class="crumbs__link" href="index.html") Главная
                    i.icon.icon_circle.crumbs__icon
                    a(class="crumbs__link_current" href="") О компании

                .title.title_h2.text_left
                    .title__text О компании
                    .title__divider.title__divider_left

                | Компания «Алмаз» основана в апреле 2004 года и была нацелена на создание производства и поставки самоклеящихся этикеток, термоленты для кассовых аппаратов и банкоматов на Российский рынок. С каждым годом компания набирала обороты и стремилась отвечать всем требованиям современного рынка расходных материалов. В результате, к началу 2013 года, наша производственная мощь составляет свыше 20 миллионов квадратных метров готовой продукции в год.
                | <br>
                | <br>
                | Своим клиентам мы можем предложить очень выгодные цены, т.к. часть нашего производства расположена в свободно-экономической зоне, что позволяет иметь низкую себестоимость на продукцию из высококачественного европейского сырья.
                | <br>
                | <br>
                | В настоящее время наша фирма входит в группу производителей различных видов упаковки и расходных материалов ГК «Мир упаковки и этикетки», что позволяет снабжать наших клиентов всеми видами расходных материалов и упаковкой по низким ценам. В неё входят компании: ООО «Мир упаковки и этикетки» и ООО «Алмаз-Плюс».
                | <br>
                | <br>
                | Мы гарантируем индивидуальный подход к каждому клиенту, вне зависимости от суммы заказа. Успех нашего клиента - это наш успех.

                .gallery
                    .box
                        .box__content
                            img(src="img/logo-partner-1.jpg")
                    .box
                        .box__content
                            img(src="img/logo-partner-2.jpg")
                    .box
                        .box__content
                            img(src="img/logo-partner-3.jpg")
                    .box
                        .box__content
                            img(src="img/logo-partner-4.jpg")
                    .box
                        .box__content
                            img(src="img/logo-partner-5.jpg")
                    .box
                        .box__content
                            img(src="img/logo-partner-6.jpg")
                    .box
                        .box__content
                            img(src="img/logo-partner-7.jpg")
                    .box
                        .box__content
                            img(src="img/logo-partner-8.jpg")
                    .box
                        .box__content
                            img(src="img/logo-partner-9.jpg")
                    .box
                        .box__content
                            img(src="img/logo-partner-10.jpg")
                    .box
                        .box__content
                            img(src="img/logo-partner-11.jpg")
                    .box
                        .box__content
                            img(src="img/logo-partner-12.jpg")
                    .box
                        .box__content
                            img(src="img/logo-partner-13.jpg")
                    .box
                        .box__content
                            img(src="img/logo-partner-14.jpg")
                    .box
                        .box__content
                            img(src="img/logo-partner-15.jpg")
                    .box
                        .box__content
                            img(src="img/logo-partner-16.jpg")
                    .box
                        .box__content
                            img(src="img/logo-partner-17.jpg")
                    .box
                        .box__content
                            img(src="img/logo-partner-18.jpg")
                    .box
                        .box__content
                            img(src="img/logo-partner-19.jpg")
                    .box
                        .box__content
                            img(src="img/logo-partner-20.jpg")

                img(class="about-page__map" src="img/bg-map.jpg")